.reveal {
  font-size: 1.5em;
}

.reveal section img {
  border: 0px;
  box-shadow: none;
}

img.full {
  height: 12cm;
}

.reveal img.screenshot {
  margin: 0px 0px;
}

figure {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.highlighted {
  background-color: #FFFF00;
}

.reveal .slides {
  width: 80% !important;
}

.reveal .slides .example {
  top: 0 !important;
  margin-top: 0 !important;
}